
<div class="row login-component">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="card-pf card-pf-accented card-pf-aggregate-status">
          <header class="login-pf-header">
            <h1>Log In to Your Openshift.io Account</h1>
          </header>
          <img class="user-icon" src="../../../assets/img/profile-user.png">
          <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="handleLogin()">Log In</button>
          <footer>
            <p class="login-pf-signup">Need an account?<a href="https://openshift.io">Sign up</a></p>
          </footer>
        </div><!-- card -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- col -->
</div><!-- row -->
